<%= content_for :page_css do %>
  <%= stylesheet_link_tag "joystick" %>
<% end %>

<%= content_for :page_js do %>
  <%= javascript_include_tag "joystick" %>
<% end %>

<div id="container">
  <div id="header">
    <h2>Beluga Joystick Control</h2>
  </div>

  <table>
    <tr>
      <td>
        <div id="XYContainer">
          X-Y
          <div id="XY">
            <%= image_tag "puck.png", :id => "puck" %>
          </div>
        </div>
      </td>

      <td>
        <div id="ZContainer">
          Z
          <div id="Z">
            <%= image_tag "vslider.png", :id => "vslider" %>
          </div>
        </div>
      </td>
    </tr>
  </table>


  <div id="bottom">

    X:  <span id="Xlabel">0</span>, Y:  <span id="Ylabel">0</span>,  Z: <span id="Zlabel">0</span>

    <%= form_for @kinematic, :remote => true do |f| %>
      <%= f.label "Robot" %>
      <%= f.select :id, [['Beluga 1', 0], ['Beluga 2', 1], ['Beluga 3', 2], ['Beluga 4', 4]] %><br/>
      
      <%= f.label "Speed" %>
      <%= f.text_field :speed %> <br/>
      <%= f.label "Turning" %>
      <%= f.text_field :omega %> <br/>
      <%= f.label "Vertical Speed" %>
      <%= f.text_field :zdot %> <br/>

      <%= f.label "Max Speed" %>
      <%= f.text_field :max_speed %> <br/>
      <%= f.label "Max Turning" %>
      <%= f.text_field :max_omega %> <br/>
      <%= f.label "Max Vertical Speed" %>
      <%= f.text_field :max_zdot %> <br/>

      <%= f.submit "Set Kinematics", :id => "set_kinematics" %>
    <% end %>
    
   <br/>
    <button id="Enable" title="Enable">Enable</button>
    <button id="Zero" title="Enable">Zero</button>
  </div>

</div>
