<%= content_for :page_css do %>
  <%= stylesheet_link_tag "joystick" %>
<% end %>

<%= content_for :page_js do %>
  <%= javascript_include_tag "joystick" %>
<% end %>

<div id="container">
  <div id="header">
    <h2>Beluga Joystick Control</h2>
  </div>

  <table>
    <tr>
      <td>
        <div id="XYContainer">
          X: Steering,  Y: Speed (Up -> Forward)
          <div id="XY">
            <%= image_tag "puck.png", :id => "puck" %>
          </div>
        </div>
      </td>

      <td>
        <div id="ZContainer">
          Vertical Thrust
          <div id="Z">
            <%= image_tag "vslider.png", :id => "vslider" %>
          </div>
        </div>
      </td>
    </tr>
  </table>


  <div id="bottom">

    <div id="buttons1">
      <button id="Enable" title="Enable">Enable</button>
      <button id="Zero" title="Enable">Zero</button>
    </div>

    <div id="xyz" class="hidden">
      X:  <span id="Xlabel">0</span>, Y:  <span id="Ylabel">0</span>,  Z: <span id="Zlabel">0</span>
    </div>

    <%= form_for @kinematic, :remote => true do |f| %>


      <div id="robot_select" class="center">
        <%= f.radio_button :id, '0', :checked => true %>
        <%= f.label :id_0, 'Beluga 1' %>
        <%= f.radio_button :id, '1' %>
        <%= f.label :id_1, 'Beluga 2' %>
        <%= f.radio_button :id, '2' %>
        <%= f.label :id_2, 'Beluga 3' %>
        <%= f.radio_button :id, '3' %>
        <%= f.label :id_3, 'Beluga 4' %>
      </div>
      

      <div class="input_field">
        <%= f.label "Speed" %>
        <%= f.text_field :speed %>
      </div>
      <div class="input_field">      
        <%= f.label "Turning" %>
        <%= f.text_field :omega %>
      </div>
      <div class="input_field">      
       <%= f.label "Vertical Speed" %>
        <%= f.text_field :zdot %>
      </div>
      <div class="input_field">      
        <%= f.label "Max Speed" %>
        <%= f.text_field :max_speed %>
      </div>
      <div class="input_field">      
        <%= f.label "Max Turning" %>
        <%= f.text_field :max_omega %>
      </div>
      <div class="input_field">
        <%= f.label "Max Vert. Speed" %>
        <%= f.text_field :max_zdot %>
      </div>

      <%= f.submit "Set Kinematics", :id => "set_kinematics" %>
    <% end %>
    
    <br/>
    <span id="debug_out"></span>
  </div>

</div>
