<%= content_for :page_css do %>
  <%= stylesheet_link_tag "joystick" %>
<% end %>

<%= content_for :page_js do %>
  <%= javascript_include_tag "joystick" %>
<% end %>

<div id="container">
  <div id="header">
    <h2>Beluga Joystick Control</h2>
  </div>

  <table>
    <tr>
      <td>
        <div id="XYContainer">
          X: Steering,  Y: Speed (Up -> Forward)
          <div id="XY">
            <%= image_tag "puck.png", :id => "puck" %>
          </div>
        </div>
      </td>

      <td>
        <div id="ZContainer">
          Vertical Thrust
          <div id="Z">
            <%= image_tag "vslider.png", :id => "vslider" %>
          </div>
        </div>
      </td>
    </tr>
  </table>


  <div id="bottom">

    <div id="buttons1">
      <button id="Enable" title="Enable">Enable</button>
      <button id="Zero" title="Enable">Zero</button>
    </div>

    <div id="xyz">
      X:  <span id="Xlabel">0</span>, Y:  <span id="Ylabel">0</span>,  Z: <span id="Zlabel">0</span>
    </div>

    <%= form_for @kinematic, :remote => true do |f| %>



      <table>
        <tr>
          <td class="right_align">
            <%= f.label "Robot" %>            
         </td>
          <td>
            <%= f.select :id, [['Beluga 1', 0], ['Beluga 2', 1], ['Beluga 3', 2], ['Beluga 4', 4]] %><br/>            
         </td>
        </tr>
       <tr>
          <td class="right_align">
            <%= f.label "Speed" %>
          </td>
          <td>
            <%= f.text_field :speed %>
          </td>
        </tr>
        <tr>
          <td class="right_align">
            <%= f.label "Turning" %>
          </td>
          <td>
            <%= f.text_field :omega %>
          </td>
        </tr>
        <tr>
          <td class="right_align">
            <%= f.label "Vertical Speed" %>
          </td>
          <td>
            <%= f.text_field :zdot %>
          </td>
        </tr>
        <tr>
          <td class="right_align">
            <%= f.label "Max Speed" %>
          </td>
          <td>
            <%= f.text_field :max_speed %>
          </td>
        </tr>
        <tr>
          <td class="right_align">
            <%= f.label "Max Turning" %>
          </td>
          <td>
            <%= f.text_field :max_omega %>
          </td>
        </tr>
        <tr>
          <td class="right_align">
            <%= f.label "Max Vert. Speed" %>
          </td>
          <td>
            <%= f.text_field :max_zdot %>
          </td>
        </tr>
      </table>

      <%= f.submit "Set Kinematics", :id => "set_kinematics" %>
    <% end %>
    
    <br/>
    <span id="debug_out"></span>
  </div>

</div>
