<%= content_for :page_css do %>
  <%= stylesheet_link_tag "waypoint" %>
<% end %>

<%= content_for :page_js do %>
  <%= javascript_include_tag "waypoint" %>
<% end %>

<div id="container">
  <div id="header">
    <h2>Beluga Waypoint Control</h2>
  </div>

  <table>
    <tr>
      <td>
        <div id="XYContainer">
          Red: Waypoint, Green: Position
          <div id="XY">
            <div class="waypoint orange" id="wp_0">1</div>
            <div class="waypoint orange" id="wp_1">2</div>
            <div class="waypoint orange" id="wp_2">3</div>
            <div class="waypoint orange" id="wp_3">4</div>
            <div class="waypoint black" id="cp_0">1</div>
            <div class="waypoint black" id="cp_1">2</div>
            <div class="waypoint black" id="cp_2">3</div>
            <div class="waypoint black" id="cp_3">4</div>            
          </div>
        </div>
      </td>

      <td>
        <div id="ZContainer">
          Depth
          <div id="Z">
            <div class="vslider orange", id="zp_0"><span>1</span></div>
            <div class="vslider orange", id="zp_1"><span>2</span></div>
            <div class="vslider orange", id="zp_2"><span>3</span></div>
            <div class="vslider orange", id="zp_3"><span>4</span></div>
            <div class="vslider black", id="z_0"><span>1</span></div>
            <div class="vslider black", id="z_1"><span>2</span></div>
            <div class="vslider black", id="z_2"><span>3</span></div>
            <div class="vslider black", id="z_3"><span>4</span></div>            
         </div>
        </div>
      </td>
    </tr>
  </table>


  <div id="bottom">

    <div id="buttons1">
      <button id="Enable" title="Enable">Enable</button>
    </div>

    <div id="xyz">
      X:  <span id="Xlabel">0</span>, Y:  <span id="Ylabel">0</span>,  Z: <span id="Zlabel">0</span>
    </div>

    <%= form_for @waypoint, :remote => true do |f| %>



      <table>
        <tr>
          <td class="right_align">
            <%= f.label "Robot" %>            
         </td>
          <td>
            <%= f.select :id, [['Beluga 1', 0], ['Beluga 2', 1], ['Beluga 3', 2], ['Beluga 4', 3]] %><br/>            
         </td>
        </tr>
       <tr>
          <td class="right_align">
            <%= f.label "X" %>
          </td>
          <td>
            <%= f.text_field :x %>
          </td>
        </tr>
        <tr>
          <td class="right_align">
            <%= f.label "Y" %>
          </td>
          <td>
            <%= f.text_field :y %>
          </td>
        </tr>
        <tr>
          <td class="right_align">
            <%= f.label "Z" %>
          </td>
          <td>
            <%= f.text_field :z %>
          </td>
        </tr>
      </table>

      <%= f.submit "Set Waypoint", :id => "set_waypoint" %>
    <% end %>
    
    <br/>
    <span id="debug_out"></span>
  </div>

</div>
  
