<%= content_for :page_css do %>
  <%= stylesheet_link_tag "waypoint" %>
<% end %>

<%= content_for :page_js do %>
  <%= javascript_include_tag "waypoint" %>
<% end %>

<div id="container">
  <div id="header">
    <h2>Beluga Waypoint Control</h2>
  </div>

  <%= render :partial => 'ipc_status' %>

  <table>
    <tr>
      <td>
        <div id="XYContainer">
          Orange: Waypoint, Black: Position
          <div id="XY">
            <div class="waypoint orange unselectable" id="wp_0">1</div>
            <div class="waypoint orange unselectable" id="wp_1">2</div>
            <div class="waypoint orange unselectable" id="wp_2">3</div>
            <div class="waypoint orange unselectable" id="wp_3">4</div>
            <div class="waypoint black unselectable" id="cp_0">1</div>
            <div class="waypoint black unselectable" id="cp_1">2</div>
            <div class="waypoint black unselectable" id="cp_2">3</div>
            <div class="waypoint black unselectable" id="cp_3">4</div>            
          </div>
        </div>
      </td>

      <td>
        <div id="ZContainer">
          Depth
          <div id="Z">
            <div class="vslider orange unselectable" id="zp_0"><span>1</span></div>
            <div class="vslider orange unselectable" id="zp_1"><span>2</span></div>
            <div class="vslider orange unselectable" id="zp_2"><span>3</span></div>
            <div class="vslider orange unselectable" id="zp_3"><span>4</span></div>
            <div class="vslider black unselectable" id="z_0"><span>1</span></div>
            <div class="vslider black unselectable" id="z_1"><span>2</span></div>
            <div class="vslider black unselectable" id="z_2"><span>3</span></div>
            <div class="vslider black unselectable" id="z_3"><span>4</span></div>
         </div>
        </div>
      </td>
    </tr>
  </table>


  <div id="bottom">

    <div id="buttons1">
      <button id="Enable" title="Enable">Enable</button>
    </div>

    <div id="xyz" class="hidden">
      X:  <span id="Xlabel">0</span>, Y:  <span id="Ylabel">0</span>,  Z: <span id="Zlabel">0</span>
    </div>

    <%= form_for @waypoint, :remote => true do |f| %>

      <div id="robot_select" class="center">
        <%= f.radio_button :id, '0', :checked => true %>
        <%= f.label :id_0, 'Beluga 1' %>
        <%= f.radio_button :id, '1' %>
        <%= f.label :id_1, 'Beluga 2' %>
        <%= f.radio_button :id, '2' %>
        <%= f.label :id_2, 'Beluga 3' %>
        <%= f.radio_button :id, '3' %>
        <%= f.label :id_3, 'Beluga 4' %>
      </div>

      <div class="input_field">
        <%= f.label "X" %>
        <%= f.text_field :x %>
      </div>
      <div class="input_field">      
        <%= f.label "Y" %>
        <%= f.text_field :y %>
      </div>
      <div class="input_field">            
        <%= f.label "Z" %>
        <%= f.text_field :z %>
      </div>

      <%= f.submit "Set Waypoint", :id => "set_waypoint" %>
    <% end %>
    
    <br/>
    <span id="debug_out"><%= @sf %></span>
  </div>

</div>
  
