<!DOCTYPE html>
<html>
<head>
  <title>Beluga Pod</title>
  <%= stylesheet_link_tag    "application" %>
  <%= yield :page_css %>
  <%= javascript_include_tag "application" %>
  <%= yield :page_js %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<div class="center">
  <%= link_to "Beluga Pod", "/" %>
</div>

</body>
</html>
